.statisticsList {
  list-style: none;
}

.option {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
}

.value {
  margin-left: 10px;
  font-size: 18px;
  color: #212121;
}
